body {
    margin: 5px 20px;
    background-color: bisque;
}

#titulo{
    font-size: 40px;
    font-style: italic;
    text-align: center;
    text-decoration: underline;    
}

header{
    margin: 20px 0px;
    
}

main {
    display: flex;
    text-align: center;
    align-items: normal;
    margin: 20px 0px;
}

section{
    margin: 10px;
    padding: 10px;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    height: 200px;
    background-image: linear-gradient(to bottom,white, rgb(19, 91, 116));
    display: grid;
}


h2{
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;

}

section:hover{
    font-size: 30px;
    transform: scale(1.1);
    color: red;
}

input[type="color"] {
    font-size: 16px;
    width: 70px;
    height: 70px;
    padding: 5px;
    border: 1px solid #ccc;
}

/* Footer */

h5{
    color: white;
}

footer{
    background: black;
    font-style: italic;
    width: 100%;
    height: auto;
    text-align: center;
    position: fixed;
    bottom: 0;
}